<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <div class="text-center mt-5">
        <h1>You can make a CRUD operations using this restfulAPI</h1>
<h1>Go to /books to see all books</h1>
    </div>
</body>
</html>